// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";



.success {
  background-color: green;
  color: white;
}

.info {
  background-color: blue;
  color: white;
}

.alert {
  background-color: red;
  color: white;
}
